---
import ContentCard from "../components/ContentCard.astro";
import Layout from "../layouts/Layout.astro";
import whiteLogo from "../assets/logoW.png";
import platz1 from "../assets/platz1.jpg";
import platz2 from "../assets/platz2.jpg";
import platz3 from "../assets/platz3.jpg";
import platz4 from "../assets/platz4.jpeg";
import platz6 from "../assets/platz0.png";
import schnee from "../assets/schnee.jpg";
import zelt from "../assets/zelt.png";
import Image from "../components/Image";
import Article from "../components/Article.astro";

const images = [
  { src: platz2.src, alt: "Weg auf Campingplatz" },
  { src: platz3.src, alt: "Wohnwägen" },
  { src: zelt.src, alt: "Zeltplatz" },
  { src: platz1.src, alt: "Hecke mit Blumen" },
  { src: schnee.src, alt: "Tannenbaum mit Schnee" },
];
---

<Layout title="Willkommen" currentPage="start">
  <main class="flex flex-col items-center px-2 pb-20">
    <img src={whiteLogo.src} alt="logo" class="w-2/3 md:w-3/5 lg:w-1/4 my-12" />
    <div class="flex flex-col gap-3 items-center">
      <div class="flex flex-col gap-6 items-center">
        <Article>
          <div
            class="flex flex-col lg:flex-row items-center lg:items-start gap-5 justify-center"
          >
            <Image
              src={platz6.src}
              alt="Wohnwägen"
              addStyles="w-full lg:w-64 h-64"
              client:load
            />
            <ContentCard addStyles="flex flex-col gap-2 w-full lg:w-2/3">
              <h1 class="font-bold">Unser Platz</h1>
              <p>
                Unser idyllisch gelegener Campingplatz befindet sich am Waldrand
                oberhalb von Malsch-Waldprechtsweier, eingebettet zwischen den
                malerischen Städten Karlsruhe und Rastatt. Als ganzjähriges
                Urlaubsziel am Rande des nördlichen Schwarzwaldes bieten wir
                Ihnen eine Oase der Ruhe und eine Vielfalt an
                Freizeitmöglichkeiten. Genießen Sie erholsame Tage inmitten
                einer beeindruckenden Naturlandschaft und atmen Sie die frische,
                klare Luft. Unser Campingplatz ist ebenfalls eine hervorragende
                Wahl für Hundebesitzer.
              </p>
              <p>
                Die Anlage erstreckt sich über 3,5 Hektar und verfügt über 220
                Stellplätze - 170 für Dauercamper und 50 für Touristen.
                Zusätzlich bieten wir eine geräumige Zeltwiese, ausgestattet mit
                einem Kinderspielplatz und einer Bouleanlage. Für Ihren Komfort
                ist unser modernes Sanitärgebäude auch im Winter beheizt und
                umfasst getrennte Waschräume, private Wasch- und Duschkabinen,
                einen separaten Ausguss für Chemietoiletten und eine
                barrierefreie Toilette mit Dusche. Zusätzliche Einrichtungen wie
                eine Spülküche und eine Baby-Wickelstation stehen Ihnen
                ebenfalls zur Verfügung.
              </p>
            </ContentCard>
          </div>
        </Article>
        <Article>
          <div
            class="flex flex-col lg:flex-row items-center lg:items-start gap-5 justify-center"
          >
            <Image
              src={platz4.src}
              alt="Weg auf Campingplatz"
              addStyles="w-full lg:w-64 h-64"
              client:load
            />
            <ContentCard addStyles="flex flex-col gap-2 w-full lg:w-2/3">
              <h1 class="font-bold">Freizeitangebot</h1>
              <p>
                Unser Campingplatz bietet den idealen Rückzugsort für eine
                erholsame Auszeit, fernab vom hektischen Alltag. Gleichzeitig
                können Sie Ihren Aufenthalt durch eine Vielzahl von Aktivitäten
                und Ausflugszielen im nördlichen Schwarzwald und dem charmanten
                Elsass mit seinem berühmten Töpferdorf Soufflenheim bereichern.
                Für Wasserspaß ist das nahegelegene, neu gestaltete und beheizte
                Freibad perfekt geeignet. Entdecken Sie die Umgebung mit ihren
                vielfältigen
              </p>
              <p>
                Freizeitmöglichkeiten. Dazu gehören ein Minigolfplatz, ein
                Kneipp-Tretbecken und ein Kinderspielplatz mit Wasserspielen,
                die sich direkt bei unserer Mehrzweckhalle im Ort befinden.
                Kulturelle Erlebnisse bieten Schlossbesichtigungen in Karlsruhe
                und Rastatt sowie Spaziergänge durch die malerische Innenstadt
                von Baden-Baden.
              </p>
              <p>
                Für Wellnessliebhaber gibt es in der näheren Umgebung zahlreiche
                Mineral- und Thermalbäder mit Wellness-Angeboten, darunter die
                Albtherme in Waldbronn, das Rotherma in Bad Rothenfels und die
                Caracalla- oder Siebentäler-Therme in Baden-Baden. Direkt vom
                Campingplatz aus können Sie eine hundert Kilometer lange, gut
                ausgeschilderte Nordic-Walking-Route erkunden. Eine Liste mit
                sehenswerten Ausflugszielen inklusive Entfernungsangaben sowie
                einen Nordic-Walking-Routenplan erhalten Sie auf Anfrage gerne
                an unserer Rezeption.
              </p>
            </ContentCard>
          </div>
        </Article>
      </div>
      <h1
        class="text-xl lg:text-2xl text-stone-100 text-center md:text-left px-2 w-full md:w-2/3"
      >
        Impressionen
      </h1>
      <div
        class="flex flex-wrap justify-items-center w-full lg:w-4/5 gap-5 justify-center"
      >
        {
          images.map((image) => (
            <div class="col-span-1">
              <Image
                src={image.src}
                alt={image.alt}
                client:load
                addStyles="w-full md:w-64 lg:w-64 h-64"
              />
            </div>
          ))
        }
      </div>
    </div>
  </main>
</Layout>
